<h1>NGINX</h1>
<p>This is a schema for NGINX</p>
<div class="codehilite"><pre><span></span><code><span class="nt">web</span><span class="p">:</span>
<span class="w">  </span><span class="nt">image</span><span class="p">:</span><span class="w"> </span><span class="l l-Scalar l-Scalar-Plain">nginx</span>
<span class="w">  </span><span class="nt">volumes</span><span class="p">:</span>
<span class="w">   </span><span class="p p-Indicator">-</span><span class="w"> </span><span class="l l-Scalar l-Scalar-Plain">./templates:/etc/nginx/templates</span>
<span class="w">  </span><span class="nt">ports</span><span class="p">:</span>
<span class="w">   </span><span class="p p-Indicator">-</span><span class="w"> </span><span class="s">&quot;8080:80&quot;</span>
<span class="w">  </span><span class="nt">environment</span><span class="p">:</span>
<span class="w">   </span><span class="p p-Indicator">-</span><span class="w"> </span><span class="l l-Scalar l-Scalar-Plain">NGINX_HOST=foobar.com</span>
<span class="w">   </span><span class="p p-Indicator">-</span><span class="w"> </span><span class="l l-Scalar l-Scalar-Plain">NGINX_PORT=80</span>
</code></pre></div>